@page "/"
@using Acadenode.Core.Models
@using Acadenode.Core.Repositories
@inject AppTheme theme
@inject ColorUtility color;

<PageTitle>Home</PageTitle>

@foreach (var note in notes)
{
    <div class="card">
        <div class="card-header">
            @note.Title (@note.Id)
        </div>
        <div class="card-body">
            @note.Content
        </div>
    </div>
}


<h1>Hello, world!</h1>
<h3>Colors</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Preview</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var color in Colors)
        {
            <tr>
                <td>@color.Key</td>
                <td>@color.Value</td>
                <td style="background-color:@color.Value; width: 50px; height: 20px;"></td>
            </tr>
        }
    </tbody>
</table>
<p>IsDarkMode: <code>@(theme.IsDarkMode)</code></p>
<h3>Buttons</h3>
<Acadebutton Color="@color.Success" OnClick="ToggleTheme">Toggle Theme</Acadebutton>
<Redirector Destination="./error">
    <Acadebutton Color="@color.Warning">Redirect to error</Acadebutton>
</Redirector>
<Redirector Destination="https://google.com" NewTab=true>
    <Acadebutton Color="@color.Error">Redirrect to google (new tab)</Acadebutton>
</Redirector>


<h3>Chips</h3>
<Acadechip Color="@color.Success" TextColor="@color.Text.Primary" Highlightable=true>Success</Acadechip>
<Acadechip Color="@color.Warning" TextColor="@color.Text.Primary">Warning</Acadechip>
<Acadechip Color="@color.Error" TextColor="@color.Text.Primary">Error</Acadechip>
<Acadechip Color="@color.Success" TextColor="@color.Success">Success</Acadechip>
<Acadechip Color="@color.Warning" TextColor="@color.Warning">Warning</Acadechip>
<Acadechip Color="@color.Error" TextColor="@color.Error">Error</Acadechip>

<h3>Icons</h3>
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Hashtag" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Note" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Search" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.List" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Pencil" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Book" />

<h3>Latex View</h3>
<LatexView Content="@sampleLatex" />

<h3>Messagem de carregamento</h3>
<LoadingMessage />

<h3>Cards & Grid</h3>

<Grid Width="20vw">
    <Acadecard Footer="Sed fermentum turpis eu nisi ultrices">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum nulla at commodo placerat. Curabitur sagittis venenatis suscipit. Sed consequat neque non suscipit tincidunt. Quisque ut semper augue. Proin semper eros id nunc mollis accumsan. Aenean venenatis faucibus pellentesque.
    </Acadecard>
    <Acadecard Header="Lorem Ipsum" Footer="Integer pulvinar diam quis neque pretium">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed malesuada tincidunt leo, eu fringilla urna lacinia nec. Phasellus varius, arcu nec aliquam accumsan, ligula orci pellentesque nulla, sit amet ultrices felis sem id leo.
    </Acadecard>
    <Acadecard Header="Fusce sit amet "  Footer="Nam ullamcorper velit at libero gravida">
        Fusce sit amet ex vel augue faucibus ultricies. Nulla sed pretium libero. Aliquam nec risus risus. Sed in augue maximus, efficitur enim at, vehicula leo. Cras in velit a magna venenatis consectetur. Suspendisse fringilla hendrerit felis, sed luctus velit elementum id.
    </Acadecard>
    <Acadecard Footer="Donec feugiat velit sed lacus scelerisque">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum nulla at commodo placerat. Curabitur sagittis venenatis suscipit. Sed consequat neque non suscipit tincidunt. Quisque ut semper augue. Proin semper eros id nunc mollis accumsan. Aenean venenatis faucibus pellentesque.
    </Acadecard>
    <Acadecard Header="Fusce sit amet ex vel augue faucibus ultricies" Footer="Fusce vel magna a mauris vehicula">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed malesuada tincidunt leo, eu fringilla urna lacinia nec. Phasellus varius, arcu nec aliquam accumsan, ligula orci pellentesque nulla, sit amet ultrices felis sem id leo.
    </Acadecard>
    <Acadecard Footer="Phasellus in mi at est ullamcorper sagittis">
        Fusce sit amet ex vel augue faucibus ultricies. Nulla sed pretium libero. Aliquam nec risus risus. Sed in augue maximus, efficitur enim at, vehicula leo. Cras in velit a magna venenatis consectetur. Suspendisse fringilla hendrerit felis, sed luctus velit elementum id.
    </Acadecard>
</Grid>





@code {
    private Dictionary<string, string> Colors;
    private string sampleLatex = @"
Dada a equação $ax^2 + bx + c = 0$, temos que a solução é dada por:

$x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$

Por exemplo, para a equação $x^2 - 5x + 6 = 0$, temos que $a = 1$, $b = -5$ e $c = 6$. Substituindo na fórmula, temos:

$$\begin{align*} x &= \frac{-(-5) \pm \sqrt{(-5)^2 - 4 \cdot 1 \cdot 6}}{2 \cdot 1} \\ &= \frac{5 \pm \sqrt{25 - 24}}{2}\\ &= \frac{5 \pm 1}{2}\\ x &= 3, x = 2 \end{align*}$$
";
    private IEnumerable<Note> notes = new List<Note>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            theme.IsDarkMode = await theme.IsBrowserDarkMode();
            await theme.ListenForThemeChanges();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // await noteRepository.AddNoteAsync(new() { Id = "t
    }

    protected override void OnInitialized()
    {
        Colors = color.GetColors();
        theme.OnChange += StateHasChanged;
    }
    private void ToggleTheme()
    {
        theme.IsDarkMode = !theme.IsDarkMode;
        Colors = color.GetColors();
    }
}