@page "/"
@using Microsoft.Extensions.Localization
@inject AppTheme theme
@inject ColorUtility color;

<PageTitle>Home</PageTitle>


<h1>Hello, world!</h1>
<h3>Colors</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Preview</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var color in Colors)
        {
            <tr>
                <td>@color.Key</td>
                <td>@color.Value</td>
                <td style="background-color:@color.Value; width: 50px; height: 20px;"></td>
            </tr>
        }
    </tbody>
</table>
<p>IsDarkMode: <code>@(theme.IsDarkMode)</code></p>
<h3>Buttons</h3>
<Acadebutton Color="@color.Success" OnClick="ToggleTheme">Toggle Theme</Acadebutton>
<Redirector Destination="./error">
    <Acadebutton Color="@color.Warning">Redirect to error</Acadebutton>
</Redirector>
<Redirector Destination="https://google.com" NewTab=true>
    <Acadebutton Color="@color.Error">Redirrect to google (new tab)</Acadebutton>
</Redirector>


<h3>Chips</h3>
<Acadechip Color="@color.Success" TextColor="@color.Text.Primary" Highlightable=true>Success</Acadechip>
<Acadechip Color="@color.Warning" TextColor="@color.Text.Primary">Warning</Acadechip>
<Acadechip Color="@color.Error" TextColor="@color.Text.Primary">Error</Acadechip>
<Acadechip Color="@color.Success" TextColor="@color.Success">Success</Acadechip>
<Acadechip Color="@color.Warning" TextColor="@color.Warning">Warning</Acadechip>
<Acadechip Color="@color.Error" TextColor="@color.Error">Error</Acadechip>

<h3>Icons</h3>
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Hashtag" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Note" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Search" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.List" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Pencil" />
<Acadeicon Color="@color.Text.Primary" Icon="Acadeicon.IconType.Book" />

<h3>Latex View</h3>
<LatexView Content="@sampleLatex"/>

@code {
    private Dictionary<string, string> Colors;
    private string sampleLatex = @"
Dada a equação $ax^2 + bx + c = 0$, temos que a solução é dada por:

$x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$

Por exemplo, para a equação $x^2 - 5x + 6 = 0$, temos que $a = 1$, $b = -5$ e $c = 6$. Substituindo na fórmula, temos:

$$\begin{align*} x &= \frac{-(-5) \pm \sqrt{(-5)^2 - 4 \cdot 1 \cdot 6}}{2 \cdot 1} \\ &= \frac{5 \pm \sqrt{25 - 24}}{2}\\ &= \frac{5 \pm 1}{2}\\ x &= 3, x = 2 \end{align*}$$
";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            theme.IsDarkMode = await theme.IsBrowserDarkMode();
            await theme.ListenForThemeChanges();
        }
    }

    protected override void OnInitialized()
    {
        Colors = color.GetColors();
        theme.OnChange += StateHasChanged;
    }
    private void ToggleTheme()
    {
        theme.IsDarkMode = !theme.IsDarkMode;
        Colors = color.GetColors();
    }
}