@page "/"
@using System.Reflection
@inject AppTheme theme
@inject ColorUtility color;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h3>Colors</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Preview</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var color in Colors)
        {
            <tr>
                <td>@color.Key</td>
                <td>@color.Value</td>
                <td style="background-color:@color.Value; width: 50px; height: 20px;"></td>
            </tr>
        }
    </tbody>
</table>
<p>IsDarkMode: @(theme.IsDarkMode)</p>
<h3>Buttons</h3>
<Acadebutton Color="@color.Success" OnClick="ToggleTheme">Toggle Theme</Acadebutton>
<Acadebutton Color="@color.Warning">Button</Acadebutton>
<Acadebutton Color="@color.Error">Button</Acadebutton>

<h3>Chips</h3>
<Acadechip Color="@color.Success" TextColor="@color.Text.Primary" Highlightable=true>Success</Acadechip>
<Acadechip Color="@color.Warning" TextColor="@color.Text.Primary">Warning</Acadechip>
<Acadechip Color="@color.Error" TextColor="@color.Text.Primary">Error</Acadechip>
<Acadechip Color="@color.Success" TextColor="@color.Success">Success</Acadechip>
<Acadechip Color="@color.Warning" TextColor="@color.Warning">Warning</Acadechip>
<Acadechip Color="@color.Error" TextColor="@color.Error">Error</Acadechip>



@code {
    private Dictionary<string, string> Colors;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            theme.IsDarkMode = await theme.IsBrowserDarkMode();
            await theme.ListenForThemeChanges();
        }
    }

    protected override void OnInitialized()
    {
        Colors = color.GetColors();
        theme.OnChange += StateHasChanged;
    }
    private void ToggleTheme()
    {
        theme.IsDarkMode = !theme.IsDarkMode;
        Colors = color.GetColors();
    }
}